.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.icon-font-size {
  font-size: 40px;
  line-height: 1;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: $primary-100;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* 滾動條寬度 */
  height: 8px; /* 水平滾動條高度 */
}